stages:
  - sast
  - build
  - push
  - deploy

variables:
  DOCKER_IMAGE: $DOCKER_USER/sast-scan-test
  # Menggunakan commit SHA agar setiap build punya versi unik di K8s
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA 

# 1. SAST (Security Scan)
sast_scan:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/

# 2. BUILD
build_job:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths:
      - app_image.tar
    expire_in: 1 hour

# 3. PUSH
push_job:
  stage: push
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker push $DOCKER_IMAGE:latest

# 4. DEPLOY (Kubernetes)
deploy_to_k8s:
  stage: deploy
  image: 
    name: bitnami/kubectl:latest
    entrypoint: [""]
  script:
    - echo "--- VALIDASI MANIFEST ---"
    # Menambahkan --validate=false agar tidak mencari cluster
    - kubectl apply --dry-run=client --validate=false -f k8s/
    - echo "--- UPDATE IMAGE DI MANIFEST ---"
    - 'sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml'
    - echo "Deployment divalidasi dengan aman."
  only:
    - main