stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_USER: "kikyputraa"
  DOCKER_IMAGE: $DOCKER_USER/sast-scan-test
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

unit_test:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install pytest pytest-cov
    - pytest --cov=app --cov-report=xml tests/
  artifacts:
    paths:
      - coverage.xml
    expire_in: 1 hour

sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/

sonarqube_check:
  stage: sast
  image: 
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  needs:
    - job: unit_test
      artifacts: true
  script:
    # Cukup panggil sonar-scanner, file properties akan dibaca otomatis
    - sonar-scanner -Dsonar.token=$SONAR_TOKEN -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.qualitygate.wait=false
  allow_failure: true

build_job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths:
      - app_image.tar

trivy_scan:
  stage: security_check
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  dependencies:
    - build_job
  script:
    - trivy image --input app_image.tar --severity HIGH,CRITICAL --exit-code 1

push_job:
  stage: push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  needs: [build_job, trivy_scan]
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

deploy_job:
  stage: deploy
  image: alpine:latest
  script:
    - apk add --no-cache sed
    - |
      if [ "$CI_COMMIT_BRANCH" == "main" ]; then
        NAMESPACE="default"
        PORT="30001"
      else
        NAMESPACE="staging"
        PORT="30002"
      fi
      sed -i "s|namespace:.*|namespace: $NAMESPACE|g" k8s/deployment.yaml
      sed -i "s|namespace:.*|namespace: $NAMESPACE|g" k8s/service.yml
      sed -i "s|nodePort:.*|nodePort: $PORT|g" k8s/service.yml
      sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "staging"'