stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_USER: "kikyputraa"
  DOCKER_IMAGE: $DOCKER_USER/sast-scan-test
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  SONAR_HOST_URL: "https://sonarcloud.io"

sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - 'pip install bandit'
    - 'bandit -r app/'
  allow_failure: false

sonarqube_check:
  stage: sast
  image: 
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  # SOLUSI: Jalankan sebagai root agar bisa dnf install
  user: root
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  before_script:
    # dnf sekarang akan berhasil karena user adalah root
    - dnf install -y python3 python3-pip
    - pip3 install pytest pytest-cov
  script:
    # 1. Jalankan test (ini akan menghasilkan coverage.xml)
    - pytest --cov=app --cov-report=xml tests/
    # 2. Jalankan scanner
    - |
      sonar-scanner \
        -Dsonar.token=$SONAR_TOKEN \
        -Dsonar.projectKey=$SONAR_PROJECT_KEY \
        -Dsonar.organization=$SONAR_ORG_KEY \
        -Dsonar.sources=. \
        -Dsonar.python.coverage.reportPaths=coverage.xml \
        -Dsonar.host.url=$SONAR_HOST_URL
  allow_failure: true

build_job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - 'docker build -t $DOCKER_IMAGE:$IMAGE_TAG .'
    - 'docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar'
  artifacts:
    paths:
      - app_image.tar
    expire_in: 1 hour

trivy_scan:
  stage: security_check
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  dependencies:
    - build_job
  script:
    - 'trivy image --input app_image.tar --severity HIGH,CRITICAL --exit-code 1'

push_job:
  stage: push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  needs:
    - job: build_job
      artifacts: true
    - job: trivy_scan
  before_script:
    - 'echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin'
  script:
    - 'docker load < app_image.tar'
    - 'docker push $DOCKER_IMAGE:$IMAGE_TAG'
    - 'docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest'
    - 'docker push $DOCKER_IMAGE:latest'

deploy_job:
  stage: deploy
  image: alpine:latest
  script:
    - 'apk add --no-cache sed'
    - 'if [ "$CI_COMMIT_BRANCH" == "main" ]; then NAMESPACE="default"; PORT="30001"; else NAMESPACE="staging"; PORT="30002"; fi'
    - 'sed -i "s|namespace:.*|namespace: $NAMESPACE|g" k8s/deployment.yaml'
    - 'sed -i "s|namespace:.*|namespace: $NAMESPACE|g" k8s/service.yml'
    - 'sed -i "s|nodePort:.*|nodePort: $PORT|g" k8s/service.yml'
    - 'sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml'
    - 'echo "Deployment updated for $NAMESPACE"'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "staging"'