stages:
  - sast
  - test
  - build
  - security
  - push
  - deploy

variables:
  DOCKER_IMAGE: "kikyputraa/devops-playground"

sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/

unit_test:
  stage: test
  image: python:3.9-slim
  script:
    - pip install pytest pytest-cov Flask
    - export PYTHONPATH=$PYTHONPATH:$(pwd)
    - pytest --cov=app --cov-report=xml:coverage.xml tests/
  artifacts:
    paths: [coverage.xml]

sonarqube_check:
  stage: test
  image: { name: sonarsource/sonar-scanner-cli:latest, entrypoint: [""] }
  needs: [unit_test]
  script:
    - sonar-scanner -Dsonar.token=$SONAR_TOKEN -Dsonar.python.coverage.reportPaths=coverage.xml

build_job:
  stage: build
  image: docker:24.0.5
  services: [docker:24.0.5-dind]
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker save $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA > image.tar
  artifacts:
    paths: [image.tar]

trivy_scan:
  stage: security
  image: { name: aquasec/trivy:latest, entrypoint: [""] }
  needs: [build_job]
  script:
    - trivy image --input image.tar --severity HIGH,CRITICAL --exit-code 1 --ignore-unfixed --ignorefile .trivyignore

push_job:
  stage: push
  image: docker:24.0.5
  services: [docker:24.0.5-dind]
  needs: [build_job, trivy_scan]
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker load < image.tar
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

deploy_job:
  stage: deploy
  image: alpine:latest
  script:
    - apk add --no-cache sed
    - |
      [[ "$CI_COMMIT_BRANCH" == "main" ]] && (NSP="default"; PT="30001") || (NSP="staging"; PT="30002")
      sed -i "s|namespace:.*|namespace: $NSP|g" k8s/deployment.yaml
      sed -i "s|nodePort:.*|nodePort: $PT|g" k8s/service.yaml
      sed -i "s|image:.*|image: $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA|g" k8s/deployment.yaml