stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_IMAGE: "kikyputraa/sast-scan-test"
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

unit_test:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install pytest pytest-cov
    - pytest --cov=app --cov-report=xml tests/
  artifacts:
    paths: [coverage.xml]

sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/

sonarqube_check:
  stage: sast
  image: { name: sonarsource/sonar-scanner-cli:latest, entrypoint: [""] }
  needs: ["unit_test"]
  script:
    - sonar-scanner -Dsonar.token=$SONAR_TOKEN -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.qualitygate.wait=false
  allow_failure: true

build_job:
  stage: build
  image: docker:24.0.5
  services: [docker:24.0.5-dind]
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths: [app_image.tar]

trivy_scan:
  stage: security_check
  image: { name: aquasec/trivy:latest, entrypoint: [""] }
  needs: ["build_job"]
  script:
    # Menambahkan flag --ignorefile agar lebih eksplisit
    - trivy image --input app_image.tar --severity HIGH,CRITICAL --exit-code 1 --ignore-unfixed --ignorefile .trivyignore

push_job:
  stage: push
  image: docker:24.0.5
  services: [docker:24.0.5-dind]
  needs: ["build_job", "trivy_scan"]
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

deploy_job:
  stage: deploy
  image: alpine:latest
  script:
    - apk add --no-cache sed
    - |
      [[ "$CI_COMMIT_BRANCH" == "main" ]] && (NSP="default"; PT="30001") || (NSP="staging"; PT="30002")
      sed -i "s|namespace:.*|namespace: $NSP|g" k8s/deployment.yaml
      sed -i "s|nodePort:.*|nodePort: $PT|g" k8s/service.yaml
      sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml