stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_USER: "kikyputraa"
  DOCKER_IMAGE: $DOCKER_USER/sast-scan-test
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  # Gunakan host.docker.internal agar container di dalam WSL bisa memanggil localhost WSL
  SONAR_HOST_URL: "http://host.docker.internal:9000"

# 1. SAST
sast_bandit:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/
  allow_failure: false

# Job Baru: Scan SonarQube menggunakan Runner Lokal
sonarqube_check:
  stage: sast
  image: sonarsource/sonar-scanner-cli:latest
  tags:
    - assistx  # Pakai tag ini agar pindah dari Cloud ke WSL Anda
  script:
    - sonar-scanner 
      -Dsonar.projectKey=sast-project 
      -Dsonar.sources=. 
      -Dsonar.host.url=http://host.docker.internal:9000 
      -Dsonar.login=$SONAR_TOKEN

# 2. Build
build_job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths:
      - app_image.tar
    expire_in: 1 hour

# 3. Trivy Scan
trivy_scan:
  stage: security_check
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  dependencies:
    - build_job
  script:
    - trivy image --input app_image.tar --severity HIGH,CRITICAL --exit-code 1

# 4. Push
push_job:
  stage: push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  needs:
    - job: build_job
      artifacts: true
    - job: trivy_scan
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

# 5. Deploy
deploy_job:
  stage: deploy
  image: alpine:latest
  script:
    - "if [ \"$CI_COMMIT_BRANCH\" == \"main\" ]; then NAMESPACE=\"default\"; PORT=\"30001\"; else NAMESPACE=\"staging\"; PORT=\"30002\"; fi"
    - "sed -i \"s|namespace:.*|namespace: $NAMESPACE|g\" k8s/deployment.yaml"
    - "sed -i \"s|namespace:.*|namespace: $NAMESPACE|g\" k8s/service.yml"
    - "sed -i \"s|nodePort:.*|nodePort: $PORT|g\" k8s/service.yml"
    - "sed -i \"s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g\" k8s/deployment.yaml"
    - "echo \"Manifest updated for $NAMESPACE environment.\""
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "staging"'