stages:
  - sast
  - build
  - security_check
  - push
  - deploy

variables:
  DOCKER_USER: "kikyputraa"
  DOCKER_IMAGE: $DOCKER_USER/devops-playground
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  SONAR_HOST_URL: "https://sonarcloud.io"

unit_test:
  stage: sast
  image: python:3.9-slim
  tags:
    - wsl-local
  script:
    - pip install pytest pytest-cov
    - pytest --cov=app --cov-report=xml tests/
  artifacts:
    paths:
      - coverage.xml

sast_bandit:
  stage: sast
  image: python:3.9-slim
  tags:
    - wsl-local
  script:
    - pip install bandit
    - bandit -r app/ || true

sonarqube_check:
  stage: sast
  image: 
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  tags:
    - wsl-local
  needs: ["unit_test"]
  script:
    - >
      sonar-scanner 
      -Dsonar.token=$SONAR_TOKEN 
      -Dsonar.python.coverage.reportPaths=coverage.xml 
      -Dsonar.host.url=$SONAR_HOST_URL
      -Dsonar.projectKey=kikyputraa_devops-playground
      -Dsonar.organization=kikyputraa
      -Dsonar.branch.name=$CI_COMMIT_BRANCH

build_job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  tags:
    - wsl-local
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths:
      - app_image.tar

trivy_scan:
  stage: security_check
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  tags:
    - wsl-local
  script:
    - trivy image --input app_image.tar --severity HIGH,CRITICAL --exit-code 0

push_job:
  stage: push
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  tags:
    - wsl-local
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

deploy_job:
  stage: deploy
  image: alpine:latest
  tags:
    - wsl-local
  script:
    - apk add --no-cache sed curl
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - chmod +x kubectl && mv kubectl /usr/local/bin/
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_DATA" > ~/.kube/config
    - |
      if [ "$CI_COMMIT_BRANCH" == "main" ]; then NAMESPACE="default"; else NAMESPACE="staging"; fi
      sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml 
      kubectl apply -f k8s/deployment.yaml -n $NAMESPACE --validate=false
      kubectl rollout restart deployment flask-app-deployment -n $NAMESPACE
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "staging"'