stages:
  - sast
  - build
  - push
  - deploy

variables:
  DOCKER_IMAGE: $DOCKER_USER/sast-scan-test
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

# 1. Tahap Scan Keamanan
sast_scan:
  stage: sast
  image: python:3.9-slim
  script:
    - pip install bandit
    - bandit -r app/
  allow_failure: false

# 2. Tahap Build Image
build_job:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
    - docker save $DOCKER_IMAGE:$IMAGE_TAG > app_image.tar
  artifacts:
    paths:
      - app_image.tar
    expire_in: 1 hour

# 3. Tahap Push ke Docker Hub
push_job:
  stage: push
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  script:
    - docker load < app_image.tar
    - docker push $DOCKER_IMAGE:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:latest

# 4a. Tahap Deploy ke STAGING
deploy_staging:
  stage: deploy
  image: 
    name: alpine:latest
    entrypoint: [""]
  script:
    - echo "--- KONFIGURASI STAGING ---"
    # Mengubah namespace menjadi staging
    - sed -i 's/namespace:.*/namespace: staging/g' k8s/deployment.yaml
    - sed -i 's/namespace:.*/namespace: staging/g' k8s/service.yml
    # Mengubah NodePort agar tidak konflik (30001 -> 30002)
    - sed -i 's/nodePort: 30001/nodePort: 30002/g' k8s/service.yml
    # Update Image Tag
    - sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml
    - echo "Manifest Staging siap. Silakan jalankan kubectl apply -f k8s/ -n staging di WSL."
  rules:
    - if: $CI_COMMIT_BRANCH == "staging"

# 4b. Tahap Deploy ke PRODUCTION
deploy_production:
  stage: deploy
  image: 
    name: alpine:latest
    entrypoint: [""]
  script:
    - echo "--- KONFIGURASI PRODUCTION ---"
    # Memastikan namespace tetap default (atau production)
    - sed -i 's/namespace:.*/namespace: default/g' k8s/deployment.yaml
    - sed -i 's/namespace:.*/namespace: default/g' k8s/service.yml
    # Update Image Tag
    - sed -i "s|image:.*|image: $DOCKER_IMAGE:$IMAGE_TAG|g" k8s/deployment.yaml
    - echo "Manifest Production siap. Silakan jalankan kubectl apply -f k8s/ di WSL."
  rules:
    - if: $CI_COMMIT_BRANCH == "main"