apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
  namespace: staging
  labels:
    app: flask-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-web
  template:
    metadata:
      labels:
        app: flask-web
    spec:
      containers:
      - name: flask-app
        image: kikyputraa/sast-scan-test:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: Always